{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/style.css'  %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>PayGateway</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="{% url 'store' %}" class="brand-logo">T-MOBILES</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{% url 'store' %}">Store</a></li>
        </ul>
      </div>
    </nav>
    {% block content %} 
    {% endblock content %}
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
